body {
	background-color: #000000;
	color: #ff5000;
}

a:href
{
	color: #ffa000;
	background-color: #202020;
}


a:link
{
	color: #ff5000;
}

a:visited
{
	color: #ff3200;
}

a:hover
{
	background-color: #202020;
}


table
{
	text-align: center
}