body {
	background-color: #505050;
	color: #ff5000;
}

a:href
{
	color: #ffa000;
	background-color: #787878;
}


a:link
{
	color: #ff5000;
}

a:visited
{
	color: #ff3200;
}

a:hover
{
	background-color: #787878;
}


table
{
	text-align: center
}